
/* line{
    color: white;
    height: 17px;
    weight: 70px;
}

#company{
    position: relative;
    top: 10px
}

#comp1{
    position: absolute;
    top: 1620px;
    right: 273;
    width: 1122px;
} */