/* a{
    margin-left: 90px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#nav{
    background-color: black;
    color: white;
    padding: 4px 10px 25px 26px
}

h1,h2,h3{
    font-weight: 800;
} */